<div class="container">
    <div class="body">

        <div class="nav">
            <div>
                <p class="title">ANGULAREMP</p>
            </div>
            <div class="icon" routerLink="/">
                <i class="fa-solid fa-house"></i>
            </div>
            <div class="link" routerLink="/qualification">
                <p class="name">Qualification</p>
            </div>
            <div class="link">
                <p class="name" routerLink="/">General</p>
            </div>
        </div>

    </div>
</div>